In [19]:
# Import Splinter and BeautifulSoup
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

In [20]:
#set executable path 
executable_path = {'executable_path': ChromeDriverManager().install()}
#then set up the URL (NASA Mars News (Links to an external site.)) for scraping.
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\Kris\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache

In [21]:
# assign the url and instruct the browser to visit it.
# Visit the mars nasa news site
url = 'https://redplanetscience.com'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1) # tells browser to wait one second before searching for components. The optional delay is sful due to some file tak a whiile to load.

True

In [22]:
#set up the HTML parser = means BeautifulSoup examines/analyzes the HTML text and then stores it as an object.
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text')

In [23]:
slide_elem.find('div', class_='content_title')

In [24]:
# Use the parent element to find the first `a` tag and save it as `news_title`
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

"NASA's Perseverance Mars Rover Gets Balanced"

In [25]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

"The mission team performed a crucial weight-balancing test on the rover in preparation for this summer's history-making launch to the Red Planet."

### Featured Images

In [31]:
# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [32]:
# Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [33]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [34]:
# Find the relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src') #src pulls the image
img_url_rel

'image/featured/mars3.jpg'

In [35]:
# Use the base URL to create an absolute URL
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [36]:
#set up our code
df = pd.read_html('https://galaxyfacts-mars.com')[0] #this line, we're creating a new DataFrame from the HTML table
    #Pandas function read_html() specifically searches for and returns a list of tables found in the HTML - index of 0, we're telling Pandas to pull only the first table it encounters, or the first item in the list
df.columns=['description', 'Mars', 'Earth'] #assign columns to the new DataFrame
df.set_index('description', inplace=True) #urning the Description column into the DataFrame's index. inplace=True means that the updated index will remain in place, without having to reassign the DataFrame to a new variable.
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [37]:
# Pandas has a way to easily convert our DataFrame back into HTML-ready code using the .to_html() function
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [38]:
# end the session
browser.quit()